header{
    display:flex;
    flex-direction: column;
    object-fit:contain;
    background-color: #211D1D30;
}
h1{
    text-align: center;
    color: whitesmoke;
    font-family: 'Inria Serif', serif; 
    width: 100%;
    background-color: #211D1D30;
    }
.img1{
    background-size: cover;
    width:100%;
}